@model Tuxboard.Core.Domain.Entities.LayoutRow
<li class="d-flex border layout-item" data-id="@Model.LayoutRowId" data-row-type="@Model.LayoutTypeId">

    <div class="mx-0 px-2 my-auto handle">
        <i title="Move Row" style="color: lightgray" class="fas fa-grip-vertical"></i>
    </div>

    <div class="border flex-fill col col-xl-auto col-lg-auto col-md-auto col-sm-auto layout-row p-0">
        <div class="row column-layout no-gutters">
            @foreach (var column in Model.GetColumnLayout())
            {
                <div class="@column.ColumnClass">
                    <div class="content-container">
                        <div class="text-center"><span>@column.ColumnClass</span></div>
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="mx-0 px-2 text-right my-auto">
        <i title="Remove Row" data-id="@Model.LayoutRowId" class="fas fa-trash-alt layout-delete-button" style="color:tomato"></i>
    </div>

</li>